* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #004019;
}

.image {
    margin-right: 18%;
}

#optionbar {
    padding-top: 1%;
}

.container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 1%;
}


#logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.search {
    --padding: 14px;

    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 13px;
    background: #F4EFE4;
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #0A392A;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 600px;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.search .material-symbols-outlined {
    color: rgba(0, 0, 0, 0.5);
}

.pill {
    font-size: 15px;
    font-family: 'Raedex Pro', sans-serif;
    padding: 1em 4em;
    margin: 0em;
    border-radius: 5em;
    border: none;
    outline: none;
    background: #dddddd;
    cursor: pointer;
}

.pill:hover {
    background: #cccccc;
}

.pill--selected {
    background: #DF3635;
    color: #ffffff;
}

#produto_up {

    width: 100%;
    border-radius: 20px;
    padding: 60px;
}

.opcao_produto {
    display: inline-block;
    background: #D9D5C5;
    margin-left: 100px;
    margin-right: 70px;
    padding: 10px;
    padding-bottom: 300px;
    width: 20%;
    border-radius: 20px;
}

.opcao_produto h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 38px;
    letter-spacing: 1px;
    margin: 5px;
    margin-bottom: 10px;
}

.images {
    width: 140px;
    height: 100px;
    margin-top: 10px;
    margin-left: 50%;
}

a {
    color: black;
}